
		<div class="menu">
			<nav class="navbar navbar-toggleable-md navbar-light">
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<a href="#" class="navbar-logo">
					<img src="./images/chuchoa-logo.png" alt="">
				</a>
				<a class="navbar-brand navbar-btn-primary dat-mua-button"  data-target="dat__mua" href="#dat-mua"><button type="button" class="btn btn-primary">ĐẶT MUA</button></a>
				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<ul class="navbar-nav mr-auto">
						<li class="nav-item">
							<a class="nav-link trang-chu" data-target="trang__chu" href="#trang-chu">Trang chủ</a>
						</li>
						<li class="nav-item">
							<a class="nav-link trung-thu-xua" data-target="trung__thu__xua" href="#trung-thu-xua">Trung Thu Xưa</a>
						</li>
						<li class="nav-item">
							<a class="nav-link san-pham" data-target="san__pham" href="#san-pham">Sản phẩm</a>
						</li>
						<li class="nav-item">
							<a class="nav-link dat-mua" data-target="dat__mua" href="#dat-mua">Đặt mua</a>
						</li>
						<li class="nav-item">
							<a class="nav-link lien-he" data-target="lien__he" href="#lien-he">Liên hệ</a>
						</li>
					</ul>
				</div>
			</nav>
		</div>
		<div class="menu-desktop">
			<a href="#" class="navbar-logo">
				<img src="./images/chuchoa-logo.png" alt="">
			</a>
			<a class="navbar-brand navbar-btn-primary dat-mua-button"  data-target="dat__mua" href="#dat-mua"><button type="button" class="btn btn-primary">ĐẶT MUA</button></a>
		</div>
		<div class="menu-main-desktop">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item">
					<a class="nav-link trang-chu" data-target="trang__chu" href="#trang-chu">Trang chủ</a>
				</li>
				<li class="nav-item">
					<a class="nav-link trung-thu-xua" data-target="trung__thu__xua" href="#trung-thu-xua">Trung Thu Xưa</a>
				</li>
				<li class="nav-item">
					<a class="nav-link san-pham" data-target="san__pham" href="#san-pham">Sản phẩm</a>
				</li>
				<li class="nav-item">
					<a class="nav-link dat-mua" data-target="dat__mua" href="#dat-mua">Đặt mua</a>
				</li>
				<li class="nav-item">
					<a class="nav-link lien-he" data-target="lien__he" href="#lien-he">Liên hệ</a>
				</li>
			</ul>
		</div>
		<div class="content">
			<div class="trang__chu opacity-0" id="js-trang-chu">
				<div class="trang__chu__detail container">
					<img src="./images/trung-thu-xua-logo.png" alt="">
					<div class="trang__chu__detail__text">
						<p>Trung thu</p>
						<p>đơn giản chỉ là ngồi cùng nhau</p>
						<p>ăn miếng bánh, uống ly trà</p>
						<p>và kể nhau nghe về cuộc đời và tuổi trẻ...</p>
					</div>
				</div>
			</div>
			<div class="trung__thu__xua opacity-0" id="js-trung-tru-xua">
				<div class="trung__thu__xua__detail container">
					<div class="trung__thu__xua__detail__img">
						<img src="./images/000054.JPG" alt="">
						<img src="./images/000063.JPG" alt="">
					</div>
					<div class="trung__thu__xua__detail__main">
						<div class="trung__thu__xua__detail__main__img">
							<img src="./images/trung-thu-xua-logo.png" alt="">
						</div>
						<p>
							Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo corporis omnis voluptates. Vero quidem fuga earum eum voluptatibus quod iure cumque non, saepe pariatur amet incidunt laboriosam numquam nulla! Necessitatibus.
						</p>
					</div>
				</div>
			</div>
			<div class="san__pham opacity-0" id="js-san-pham">
				<div class="san__pham__detail container">
					<div class="san__pham__detail__img">
						<img src="./images/000063.JPG" alt="" id="js-san-pham-img-main">
						<div class="san__pham__detail__img__list">
							<img src="./images/000063.JPG" alt="">
							<img src="./images/000054.JPG" alt="">
							<img src="./images/000063.JPG" alt="">
							<img src="./images/000054.JPG" alt="">
						</div>
					</div>
					<div class="san__pham__detail__title">
						<h3>TRUNG THU XƯA</h3>
					</div>
					<b>Hộp bao gồm: </b>
					<p>2 bánh trung thu trứng muối, 1 túi trà hoa cúc, 1 túi hạt bí, 2 nến</p>
				</div>
			</div>
			<div class="dat__mua opacity-0" id="js-dat-mua">
				<div class="dat__mua__detail container">
					<div class="dat__mua__detail__title">
						<p>Đăng ký đặt mua bánh</p>
						<h3>TRUNG THU XƯA</h3>
					</div>
					<div class="dat__mua__detail__form">
						<form class="form-inline" id="js-form-dat-mua">
							<div class="form-group">
								<label for="full-name">Họ và tên *</label>
								<input type="text" class="form-control" id="js-full-name" name="full-name" required>
							</div>
							<div class="form-group">
								<label for="phone-number">Di động *</label>
								<input type="number" class="form-control" id="js-phone-number" name="phone-number" required>
							</div>
							<div class="form-group">
								<label for="email">Email</label>
								<input type="email" class="form-control" id="js-email" name="email">
							</div>
							<div class="form-group">
								<label for="address">Địa chỉ</label>
								<input type="text" class="form-control" id="js-address" name="address">
							</div>
							<div class="form-group custom-select-option">
								<label for="option-1">Đậu Xanh + Matcha</label>
								<select class="form-control" name="option-1" id="js-option-1">
									<option value="0" selected="selected">0</option>
									<option value="1">1</option>
									<option value="2">2</option>
									<option value="3">3</option>
									<option value="4">4</option>
									<option value="5">5</option>
									<option value="6">6</option>
									<option value="7">7</option>
									<option value="8">8</option>
									<option value="9">9</option>
									<option value="10">10</option>
								</select>
							</div>
							<div class="form-group custom-select-option">
								<label for="option-2">Đậu Xanh + Dừa</label>
								<select class="form-control" name="option-2" id="js-option-2">
									<option value="0" selected="selected">0</option>
									<option value="1">1</option>
									<option value="2">2</option>
									<option value="3">3</option>
									<option value="4">4</option>
									<option value="5">5</option>
									<option value="6">6</option>
									<option value="7">7</option>
									<option value="8">8</option>
									<option value="9">9</option>
									<option value="10">10</option>
								</select>
							</div>
							<div class="form-group custom-select-option">
								<label for="option-3">Đậu Xanh + Khoai Môn</label>
								<select class="form-control" name="option-3" id="js-option-3">
									<option value="0" selected="selected">0</option>
									<option value="1">1</option>
									<option value="2">2</option>
									<option value="3">3</option>
									<option value="4">4</option>
									<option value="5">5</option>
									<option value="6">6</option>
									<option value="7">7</option>
									<option value="8">8</option>
									<option value="9">9</option>
									<option value="10">10</option>
								</select>
							</div>
							<div class="form-group custom-input-total">
								<label for="address">Thành tiền</label>
								<p>0 đ</p>
							</div>
							<div class="dat__mua__detail__form__submit">
								<button type="submit" class="btn btn-primary">ĐẶT MUA</button>
							</div>
						</form>
					</div>
				</div>
				<div class="dat__mua__detail container dat__mua__success" style="display: none">
					<div class="dat__mua__detail__title">
						<p>Bạn đã đăng ký đặt mua bánh</p>
						<h3>TRUNG THU XƯA</h3>
						<p>thành công</p>
					</div>
					<div class="dat__mua__detail__noti">
						<p>*</p>
						<p>Cảm ơn bạn. Đơn hàng đã được ghi nhận.</p>
						<p>Mến chúc bạn & gia đình một mùa trung thu ấm áp.</p>
						<p>*</p>
					</div>
				</div>
			</div>
			<div class="lien__he opacity-0" id="js-lien-he">
				<div class="lien__he__detail container">
					<div class="lien__he__detail__title">
						<p>Liên hệ đặt mua bánh</p>
						<h3>TRUNG THU XƯA</h3>
					</div>
					<div class="lien__he__detail__info">
						<p>Di động : 01676587896 (Trung)</p>
						<p>Web : <a href="http://www.chuchoahouse.com" target="_blank">www.chuchoahouse.com</a></p>
						<p>Email : chuchoahouse@gmail.com</p>
						<p>Facebook : <a href="https://www.facebook.com/chuchoahouse" target="_blank">www.facebook.com/chu-choahouse</a></p>
					</div>

				</div>
			</div>
			<!-- <div class="san__pham opacity-0" id="js-san-pham"></div>
			<div class="lien__he opacity-0" id="js-lien-he"></div> -->
		</div>
