$color_white: #fff;
$color_primary: #faa92d;
$color_primary_light: #f9da5b;
$color_light: #76dde5;
$color_dark: #d1d3d4;
$color_black: #000;

body {
	.menu-desktop, .menu-main-desktop {
		display: none;
	}
	a, button {
		cursor: pointer;
	}
	box-sizing: border-box;
	font-size: 14px;
	.navbar {
		border-bottom: 1px solid $color_dark;
		background-color: $color_white;
		padding: 1rem;
		.navbar-logo {
			display: inline-block;
			position: absolute;
			left: 50%;
			top: 16px;
			transform: translateX(-50%);
			height: 40px;
			padding: 0.3rem 0;
			img {
				height: 100%;
			}
		}
		.navbar-brand {
			&:active, &:focus, &:hover {
				outline: 0;
				color: $color_primary;
			}
		}
		.navbar-toggler {
			cursor: pointer;
			outline: 0;
			box-shadow: 0 0 0 0 transparent;
			border-color: transparent;
			.navbar-toggler-icon {
				background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='" + $color_primary + "' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
			}
		}
	}
	.btn-primary {
		background-color: $color_primary;
		border-color: $color_primary;
		border-radius: 20px;
		padding: 5px 8px;
		&:active, &:focus, &:hover {
			background-color: $color_primary;
			border-color: $color_primary;
			outline: 0;
			box-shadow: 0 0 0 0 transparent;
		}
	}
	.navbar-btn-primary {
		position: absolute;
		right: 0;
		top: 15px;
	}
	.narbar-collapse-menu {
		position: static;
	}
	main {
		.active {
			a {
				color: $color_primary !important;
			}
		}
		height: calc(100vh);
		position: relative;
		.menu {
			z-index: 1;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
		}
		.content {
			> div {
				transition: 0.2s linear;
				width: 100%;
				margin-top: 73px;
				height: calc(100vh - 73px);
				background-image: url('./images/bg-mobile.png');
				background-size: auto 100%;
				background-repeat: repeat-x;
				background-position: left top;
				position: absolute;
				top: 0;
				left: 0;
				display: flex;
				justify-content: center;
				align-items: center;
			}
			position: relative;
			.trang__chu {
				.trang__chu__detail {
					text-align: center;
					img {
						width: 40%;
						margin-bottom: 15px;
					}
					.trang__chu__detail__text {
						p {
							margin: 0;
							font-size: 1.2rem;
							font-style: italic;
						}
					}
				}
			}
			.san__pham {
				.san__pham__detail {
					width: 80%;
					overflow: hidden;
					img {
						width: 100%;
					}
					p {
						margin: 0;
					}

					.san__pham__detail__img__list {
						width: 100%;
						display: flex;
						align-items: center;
						img {
							width: 25%;
						}
					}
					.san__pham__detail__title {
						width: 150px;
						white-space: nowrap;
						background-color: $color_primary_light;
						margin-bottom: 0.5rem;
						padding: 0.5rem 0;
						h3 {
							margin: 0;
							font-weight: 900;
							color: $color_light;
						}
					}
				}
			}
			.dat__mua {
				.dat__mua__detail {
					width: 80%;
					max-height: 60%;
					.dat__mua__detail__title {
						width: 150px;
						white-space: nowrap;
						background-color: $color_primary_light;
						margin-bottom: 0.5rem;
						padding: 0.5rem 0;
						p {
							font-weight: 600;
							font-size: 1.2rem;
							line-height: 1.2rem;
							margin: 0;
						}
						h3 {
							margin: 0;
							font-weight: 900;
							color: $color_light;
						}
					}
					.dat__mua__detail__noti {
						p {
							font-weight: 600;
							font-size: 1.2rem;
							line-height: 1.2rem;
							margin: 15px 0;
						}
					}
					.dat__mua__detail__form {
						.dat__mua__detail__form__submit {
							width: 100%;
							text-align: center;
						}
						form > p {
							font-weight: 600;
							margin: 0;
							text-transform: uppercase;
						}
						label {
							width: 28%;
							justify-content: left;
							margin: 0;
						}
						.form-group {
							width: 100%;
							margin-bottom: 0.4rem;
							justify-content: space-around;
							input {
								display: inline-block;
								width: 70%;
								padding: 0.2rem 0.5rem;
								border-color: $color_primary;
								height: 28px;
								font-size: 13px;
							}
							select {
								border-color: $color_primary;
							}
						}
						.custom-select-option {
							width: 100%;
							display: flex;
							align-items: center;
							justify-content: space-between;
							label {
								width: 60%;
							}
							select {
								width: 30%;
								padding: 0.2rem 0.5rem;
								display: inline-block;
								height: 28px;
								font-size: 13px;
							}
						}
						.custom-input-total {
							margin-top: 5px;
							padding-top: 5px;
							border-top: 1px solid $color_dark;
							display: flex;
							align-items: center;
							justify-content: space-between;
							label {
								width: 50%;
								font-weight: 600;
							}
							p {
								margin: 0;
								font-weight: 600;
								text-align: right;
								width: 30%;
								display: inline-block;
								color: $color_primary;
							}
						}
					}
				}
			}
			.trung__thu__xua {
				.trung__thu__xua__detail {
					width: 80%;
					.trung__thu__xua__detail__img {
						img {
							width: 49%;
							padding: 2px;
						}
					}
					.trung__thu__xua__detail__main {
						width: 100%;
						div {
							width: 30%;
							vertical-align: top;
							display: inline-block;
							img {
								width: 100%;
							}
						}
						p {
							margin: 0;
							width: 68%;
							display: inline-block;
							text-align: justify;
						}
					}
				}
			}

			.lien__he {
				.lien__he__detail {
					width: 80%;
					.lien__he__detail__title {
						width: 150px;
						white-space: nowrap;
						background-color: $color_primary_light;
						margin-bottom: 0.5rem;
						padding: .1rem 0;
						p {
							font-weight: 600;
							font-size: 1.2rem;
							margin: 0;
						}
						h3 {
							font-weight: 900;
							color: $color_light;
						}
					}
					.lien__he__detail__info {
						a {
							color: #000;
						}
					}
				}
			}
		}
	}
	.opacity-0 {
		opacity: 0 !important;
		z-index: -1 !important;
	}
}

@media screen and (min-width: 992px) {
	body {
		main {
			.content > div {
				height: 100vh;
				overflow: hidden;
				margin-top: 0;
			}
		}
		.menu {
			display: none;
		}
		.menu-desktop {
			display: block;
			position: fixed;
			z-index: 1;
			width: 100vw;
			.navbar-logo {
				position: absolute;
				top: 80px;
				left: 50px;
				img {
					height: 50px;
					width: auto;
				}
			}
			.navbar-btn-primary {
				position: absolute;
				top: 80px;
				right: 50px;
			}
		}
		.menu-main-desktop {
			display: block;
			position: fixed;
			z-index: 1;
			width: 200px;
			display: inline-block;
			top: 50%;
			left: 50px;
			transform: translate(0, -50%);
			li {
				width: 30px;
				white-space: nowrap;
			}
			.active {
				position: relative;
				&::after {
					position: absolute;
					content: '';
					height: 3px;
					width: 100%;
					background-color: $color_primary;
					bottom: 5px;
					left: 0;
				}
			}
			a {

				color: $color_black;
				font-size: 16px;
				font-weight: 600;
			}
		}

	}
	body main .content .trang__chu .trang__chu__detail {
		max-width: 400px;
	}
	body main .content .trung__thu__xua .trung__thu__xua__detail {
		max-width: 700px;
		display: flex;
		.trung__thu__xua__detail__img {
			width: 40%;
			img {
				width: 100%;
			}
		}
		.trung__thu__xua__detail__main {
			width: 60%;
			div {
				width: 100%;
				text-align: center;
				img {
					width: 100px;
				}
			}
			p {
				width: 100%;
			}
		}
	}
	body main .content .san__pham .san__pham__detail {
		max-width: 400px;
		.san__pham__detail__img {
			width: 100%;
			display: flex;
			align-items: flex-start;
			justify-content: center;
			> img {
				width: 80%;
				height: auto;
			}
			> div {
				width: 20%;
				display: inline-block;
				> img {
					padding: 5%;
					width: 95%;
				}
			}
		}
	}
	body main .content .lien__he .lien__he__detail {
		max-width: 400px;
	}
	body main .content .dat__mua .dat__mua__detail {
		max-width: 400px;
	}
}

